@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Close Window</title>
    <script type="text/javascript">
        window.onload = function () {
            window.close(); // Forsøker å lukke vinduet
        }
    </script>
</head>
<body>
    <p>Vinduet lukkes...</p>
</body>
</html>